.accordion {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	padding: 5px 10px;
	transition: 0.2s;
	border-bottom: solid 1px grey;
}

.accordion-active {
	margin-left: 3px;
	font-weight: 700;
}

.panel {
	margin: 5px 5px;
	max-height: 0;
	overflow: hidden;
	transition: 0.2s;
}

.invisibility {
	display: none;
}

.arrow {
	margin-left: auto;
	justify-self: right;

	transition: 0.3s;
}

.arrow-active {
	transform: rotate(180deg);
}
